*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    font: inherit;
    outline:0;
   /* vertical-align:baseline;*/
   /*display:flex;*/
   font-family: 'Montserrat', sans-serif;
   
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
a:visited {
    color: inherit; /* ou defina uma nova cor específica */
  }
:root{
    --black30:rgb(30,30,30);
    --black3040:rgb(30,30,30,0.4);
    --white: rgb(255, 255, 255);

}
body{
   /* border: 2px solid red;*/
    max-width:100vw;
    min-height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h1{
    font-size: 1.5em;
    font-style: italic;
    font-weight:700;
}
/*Scroll------------------------------*/

body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:var(--black3040);    
    border-radius: 20px;       
  }
  
 
/*Nav-----------------------------------*/
nav{
   min-width: 100%;
   z-index: 2;
}


.dropdown{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -60px;
    color: var(--white);
}

.li_menu{
    min-width: 33%;
    display: block;
}

.li_logo{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 33%;
}



nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}



.dropdown-menu{
    position:absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px 20px 20px 20px ;
    display: none;
    min-width: 140px;
    margin-left: 15px;
    padding: 12px 0 14px 0;
    z-index: 2;
    background-color: var(--white);
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown-menu a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.menu:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.li_menu:hover .dropdown-menu{
display: block;
opacity: 0.95;
}

/*Contato---*/

.li_contatos{
    max-width: 33%;
    min-width: 33%;

    align-items: center;
    display: flex;
    justify-content: end;

}

.li_contatos .botao_menu{
    display: flex;
    min-height: 40px;
    max-height: 40px;
    margin-right: 15px;
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    transform: 5s;
    border-radius: 30px;
    padding: 0 35px; 
    
    max-width: none;
    justify-content: start;
    background-color:var(--black30);
    color: white;
}


.li_contatos #legenda_contato{
    display: flex;
    margin-left: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;

}

.li_contatos .botao_menu:hover {
    max-width: none;
    justify-content: start;
    cursor: pointer;
    opacity: 0.8;     
}

.li_contatos .menu_imagem{ 
    max-width: 18px;

}



/*--------------------*/

.logo {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-image: url('../assets/logo/logo_gif4.gif');
    background-repeat: no-repeat;
  }

.logo:hover{
    opacity: 0.8;
    transition: 0.2s;
  }

.botao_menu{
    background-color: rgba(255, 255, 255, 0);
    display: none;
    min-width: 120px;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 120px;
    min-height: 120px;

}

.menu_imagem{
    max-width: 30px;

}

.button p{
    width: 260px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(30, 30, 30);
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
    
}

.button:hover{
    opacity: 0.8;
    transition: 0.2s;
}





/*Main-----------------------------------*/
main{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.titulo h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight:bolder;
  
}
.titulo h2{
    font-size: 2em;
    color: var(--black3040);
}



/*Slider-----------------*/

.slider{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    overflow: hidden;

    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.slides{
    width:400%;
    height:600px;
    display: flex;
}

.img-dev{
    max-width: 80%;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position:relative;
    min-height: 100%;
    transition: 1s;
    display: flex;
    align-items: center;
}

.slide a{
    font-size: 5em;
    margin-left: 120px;
    font-weight: bold;
}

.slide img{
    width: 100%;
}

.manual-navigation{
    position: absolute;
    width: 90%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn{
    border: 2px solid var(--black3040);
    padding:5px;
    border-radius:10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

#radio1:checked ~ .first{
   margin-left: 0; 
}

#radio2:checked ~ .first{
    margin-left: -25%; 
 }

 #radio3:checked ~ .first{
    margin-left: -50%; 
 }

 .navigation-auto div{
    border: 2px solid #ffffff50;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
 }

 .navigation-auto{
    position:absolute;
    width: 90%;
    margin-top: 560px;
    display: flex;
    justify-content: center;
 }

 .navigation-auto div:not(:last-child){
    margin-right: 40px;
 }

#radio1:checked ~.navigation-auto .auto-btn1{
    background-color:rgba(0, 0, 0, 0.8);
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background-color:rgba(0, 0, 0, 0.8);
}

#radio3:checked ~.navigation-auto .auto-btn3{
    background-color:rgba(0, 0, 0, 0.8);
}





/*footer--------------*/
footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;
}

.social img{
    max-height: 20px;
    margin: 8px;
    opacity: 0.5;
    transition: 0.2s;
}
.social img:hover{
    opacity: 0.8;
    transition: 0.2s;
}

a, button {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

/*Animação de tela-------------------------*/

.page-transition {
    animation: slide-in 0.5s ease-out;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }


/*Responsividade--------------------------*/

@media (max-width: 1100px){
   
 
    
    }

    @media (max-width: 900px){
        nav{
            margin-bottom: -55px;
        }
        .logo {
            height: 90px;
            width: 90px;
            
          }

          .titulo h1{
            font-size: 2em;
            text-transform: uppercase;
            font-weight:bolder;
          
        }
        .titulo h2{
            font-size: 1.3em;
            color: var(--black3040);
        }

        .titulo{
           
            margin-bottom: 30px;
        }
        .slide a{
            font-size: 3em;
            margin-left: 60px;
        }

        .button p{
            width: 260px;
            height: 40px;
            border-radius: 40px;
            font-size: 0.6em;
            
        }
 }

    @media (max-width: 700px){

     

    }

        /*Mobile----------------------*/
   
        /*Mobile----------------------*/
        @media (pointer: coarse) {

            .li_contatos .button:hover{
                opacity: 1;
            }
    
            .li_contatos .botao_menu:hover {
                opacity: 1;     
            }
            
    
        }
    
    
        @media (max-width: 550px){
            .li_contatos #legenda_contato{
                font-size: 0.6em;
            }
            
            .logo{
                max-width: 50px;
                max-height: 50px;
            }
        
     
              .li_contatos .botao_menu{
                max-width: 10px ;
            }
            .li_contatos .menu_imagem{ 
                max-width: 14px;
            
            }
            .li_contatos .botao_menu{
                padding: 0 15px;
            }
        }
    
        @media (max-width: 375px){
            .li_contatos #legenda_contato{
                display: none;
            }
            .li_contatos .menu_imagem{ 
                max-width: 18px;
            }
            .li_contatos .botao_menu{
                padding: 0 10px;
            }
    }